@media screen and (max-width:768px) {
   
   .container-1 {
       height: 100% !important;
   }
   
   
    .img img {
        position: unset;
        width: 100%;
    }
    .container-1 .row {
        text-align: center !important;
    }
    .parge img {
        position: unset;
    }
     .parge{
       padding:0px;
    }
    .lh-lg {
        text-align: center;
    }
   


    }

