html {
    font-size: 100%;
}
@font-face {
    font-family: "dana";
    src: url(./dana-medium\ \(2\).ttf);
}
body{
    font-family: "dana" !important;
}
.navbar .nav-link{
    position: relative;
}
  
 .dad::before{
     content: "";
     position: absolute;
     width:0px;
    height: 3px;
    background: #0e49f1;
    top: 0px;
    left: 0px;
    /* display: inline-block; */
    transition: width 0.3s;
 }
 li:hover > .dad::before {
     width: 100%;
 }
 .data.dad::before {
 width: 100%;
}
 

li a:hover {
    color:rgb(76, 76, 179) !important;

}

.h-1 {
    background-color:rgb(67, 98, 193);
    height: 300px;
    color: white;
    text-align: center;
    padding-top: 3rem;
}
.img {
    position: relative;
}
.img img {
    position: absolute;
    top: -68px;
    left: -6px;
}
.bg {
    background-color: rgb(67, 98, 193);
}
.parge {
    color: white;
    margin: 4rem;
    padding-right: 152px;
    position: relative;
}
.parge img {
    position: absolute;
    right: 115px;

}
.head {
    font-size: 1.3rem;
    color: rgb(37, 34, 34) !important;
}
  .head:hover{
    color:#0d6efd !important ;
  }
  .mt {
      margin-top: 2rem !important;
  }
  .fs {
      font-size: 3.5rem !important;
  }
  footer {
      background-color:rgb(68, 68, 68) ;
      color: white;
  }
  footer input{
    background-color: rgb(68, 68, 68) !important;
    color: white !important;

  }
  footer textarea {
    background-color: rgb(68, 68, 68) !important;
    color: white !important;

  }
  .lh {
      line-height: 3rem;
  }
  .font {
      font-size: 0.75rem;
  }
  .lh:hover {
      color: white !important;
  }
  .dark img {
      position: absolute;
      left: 72px;
      top: 24px;
  }
  .pttp {
      padding-top: 15rem;
  }
  .pbb {
      padding-bottom: 15rem;
  }
  .dark::before{
    content: "";
    position: absolute;
    background: rgb(174, 180, 174);
    width: 72%;
    left: 5%;
    top: -118px;
    height: 32em;
    opacity: 0.9;
    margin-top: 155px;
    z-index: 0;

  }
  
